	body { 
		background-color: lightblue;
		color: navy;
		text-align: left;
        	font-size: 20px;
	} 
	nav { 
		color:navy;
	} 
	h1 {
		text-align: left;
		font-size: 25px;
		color: navy;
	} 
    	h2 {
		text-align: left;
		font-size: 20px;
		color: navy;
	}
    	h3 {
		text-align: left;
		font-size: 20px;
		color: navy;
	} 
	ul { 
		color: navy;
		text-align: left;
        font-size: 20px;
	}
	button {
		display: inline-block;
		padding: 5px 10px;
	  	font-size: 16px;
	  	font-weight: bold;
	  	text-align: center;
	  	text-decoration: none;
	  	cursor: pointer;
	  	border: 2px solid white;
	  	color:lightblue;
		background-color: navy;
	  	border-radius: 5px;
	  	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	}
