<style>
	header {
		font-size: 25px;
	} 
	body { 
		background-color: lightblue;
		color: navy;
		text-align: left;
	} 
	nav { 
		color:navy;
	} 
	h1 {
		text-align: left;
		font-size: 25px;
		color: navy;
	} 
	ul { 
		color: navy;
		text-align: left;
	}
</style>